# Other files and folders
.target/
.idea/

# IntelliJ project files 
*.iml
*.iws
*.ipr
*.lmf
.idea/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

